ion-avatar {
  width: 45px;
  height: 45px;
}
.title-list {
  font-weight: 800;
}
.text-list {
  font-weight: 400;
  color: #737373;
}
.small-text-list {
  font-weight: 400;
  color: #737373;
}

.active-message {
  --ion-background-color: #E3E7F2;
}
