ion-avatar {
  width: 85px;
  height: 85px;
}
.image-profile {
  object-fit: cover;
  border-radius: 50%;
}
.card-title {
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.card-text {
  font-weight: 300;
}

.form-control {
  --ion-background-color: #E3E7F2;
  --ion-border-radius: 5px;
}
