<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-back-button [slot]="'start'"></ion-back-button>
        <ion-title>Контактные данные</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">


    <ion-item [lines]="'none'">
        <ion-avatar slot="start">
            <img [src]="user?.image || 'assets/icon/user.png'" class="image-profile">
        </ion-avatar>
        <div>
            <h2 class="card-title">{{user?.name || 'Пользователь_' + user?.id}}</h2>
            <div class="card-text">{{user?.description || '-- Информация о компании или пользователе отсутствует --'}}</div>
        </div>
    </ion-item>


    <ion-item class="ion-margin-top">
        <ion-icon [slot]="'start'" [color]="'primary'" name="mail"></ion-icon>
        {{user?.email || '-- Электронная почта отсутствует --'}}
    </ion-item>
    <ion-item>
        <ion-icon [slot]="'start'" [color]="'primary'" name="call"></ion-icon>
        {{user?.phone || '-- Телефон отсутствует --'}}
    </ion-item>

    <ion-item [lines]="'none'" class="ion-margin-top">
        <ion-button [color]="'primary'" [size]="'default'" (click)="messageForm()">Написать сообщение</ion-button>
    </ion-item>

</ion-content>
