<ion-header>
  <ion-toolbar [color]="'primary'">
    <ion-back-button [slot]="'start'"></ion-back-button>
    <ion-title>
      Быстрая регистрация
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [formGroup]="formRegister">

  <ion-item>
    <ion-label position="floating">Телефон</ion-label>
    <ion-input type="number" formControlName="phone"></ion-input>
  </ion-item>

</ion-content>

<ion-button [color]="'primary'" [size]="'default'" [fill]="'solid'" [expand]="'block'" class="ion-margin"
            (click)="registerUser()">
  Получить пароль
</ion-button>
