<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="showMenu">
    <ion-tab-button tab="news">
      <ion-icon name="image"></ion-icon>
      <ion-label>Новости</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="group-service">
      <ion-icon name="briefcase"></ion-icon>
      <ion-label>Услуги</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Товары</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="people"></ion-icon>
      <ion-label>Форум</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
