<ion-header>
    <ion-toolbar [color]="'primary'">
        <ion-back-button [slot]="'start'"></ion-back-button>
        <ion-title>
            Восстановление пароля
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [formGroup]="formReset">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-text [color]="'medium'">
        <h6>Вам на почту придет ссылка для восстановления пароля. После перехода по данной ссылку, вам на почту придет
            новый пароль.</h6>
    </ion-text>

</ion-content>


<ion-button [color]="'primary'" [size]="'default'" [fill]="'solid'" [expand]="'block'" (click)="resetPassword()"
            class="ion-margin-bottom ion-margin-end ion-margin-start">
    Восстановить
</ion-button>
